
@section css{
<link rel="stylesheet" href="/css/concat.css" type="text/css" />
}
<div class="style">
    	<div class="header clearfix">
    		<a class="on" href="/conStyle">联系方式</a>
    		<a href="/conMessage">在线留言</a>
    		<a href="/conJob">人才招聘</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    	</div>
    	<div class="style-content">
    		<div class="title clearfix">
    			<p>@Model.title</p>
    		</div>
    		<div class="sy-con">
    			@Html.Raw(Model.htmlcontent)
    		</div>
    		<div class="title clearfix">
    			<p>所在位置</p>
    		</div>
    		<div class="sy-con">
    			<iframe src="map.html""></iframe>
    		</div>
    		
    		<div class="title clearfix">
    			<p>汇款方式</p>
    		</div>
    		<div class="sy-con">
    			<img src="imgs/concat/style2.jpg"/>
    			<p>开户行：中国银行股份有限公司郑州陇西支行</p>
    			<p>行号：1044 9106 3087</p>
    			<p>户名：郑州欧柯奇仪器制造有限公司</p>
    			<p>账号：2520 1768 7240</p>
    			<img src="imgs/concat/style3.jpg"/>
    			<p>开户行：中国银行股份有限公司郑州陇西支行</p>
    			<p>行号：1044 9106 3087</p>
    			<p>户名：郑州欧柯奇仪器制造有限公司</p>
    			<p>账号：2520 1768 7240</p>
    			<img src="imgs/concat/style4.jpg"/>
    			<p>开户行：中国银行股份有限公司郑州陇西支行</p>
    			<p>行号：1044 9106 3087</p>
    			<p>户名：郑州欧柯奇仪器制造有限公司</p>
    			<p>账号：2520 1768 7240</p>
    		</div>
    		<div class="duty">
    			<div class="title clearfix">
	    			<p>中国各责任区划分</p>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">河南地区</p>
	    			<span>责任区划分：河南</span>
	    			<span>业务经理：秦经理；手机：18625526098</span>
	    			<span>电话：0371- 86581650 ；QQ ：3298335523</span>
	    		</div>
    		</div>
    		<div class="duty">
    			<div class="title clearfix">
	    			<p>欧柯奇中国售后</p>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">速测仪器</p>
	    			<span>责任区划分：全国</span>
	    			<span>负责人：何卓；手机：15617617702</span>
	    			<span>电话：0371-86533628；QQ ：2982054687</span>
	    			<span>产品型号：土壤肥料养分速测仪、农药残留速测仪、土壤墒情速测仪、植物病害诊断仪、叶绿素速测仪、气象站等</span>
	    		</div>
	    		<div class="sy-duty">
	    			<p class="first">植保设备</p>
	    			<span>责任区划分：全国</span>
	    			<span>业务经理：张军强；手机：13213117873</span>
	    			<span>电话：0371-86253770；QQ ：3223219617</span>
	    			<span>产品型号：杀虫灯、虫情测报灯、孢子捕捉器、病虫调查统计器、粘虫板等</span>
	    		</div>
    		</div>
    	</div>
    </div>
</div>