<div class="navMain">
	<!-- 侧导航 -->
	<ul class="leftNav"> 
		<li>
			<h3><a class="backHome" href="/" target="_self">官网首页</a></h3>
		</li>
		<li>
			<h3><a class="navTitle" href="/aboutUs" target="_self">关于我们</a><i></i></h3>
			<a href="/aboutUs" target="_self">企业简介</a>
			<a href="/history" target="_self">发展历程</a>
			<a href="/photo" target="_self">企业实景</a>
			<a href="/staff" target="_self">员工风采</a>
		</li>
		<li>
			<h3><a class="navTitle" href="/cpyNews" target="_self">新闻中心</a><i></i></h3>
			<a href="/cpyNews" target="_self">公司新闻</a>
			<a href="/cpywork" target="_self">行业动态</a>
			<a href="/cpyfood" target="_self">食安常识</a>
			<a href="/cpyGroup" target="_self">企业内刊</a>
		</li>
		<li>
			<h3><a class="navTitle" href="/profertytype" target="_self">产品展示</a></h3>
		</li>
		<li>
			<h3><a class="navTitle" href="/qualifty" target="_self">资质荣誉</a><i></i></h3>
			<a href="/qualifty" target="_self">企业资质</a>
			<a href="/proQualifty" target="_self">产品资质</a>
			<a href="/cpyQualifty" target="_self">企业荣誉</a>
		</li>  
		<li>
			<h3><a class="navTitle" href="/caseList" target="_self">成功案例</a><i></i></h3>
			<a href="/caseList" target="_self">成功案例</a>
		</li>  
		<li>
			<h3><a class="navTitle" href="/serPromise" target="_self">客户服务</a><i></i></h3>
			<a href="/serPromise" target="_self">服务承诺</a>
			<a href="/serTrain" target="_self">培训服务</a>
			<a href="/serVideo" target="_self">培训视频</a>
			<a href="/serSolution" target="_self">解决方案</a>
            <a href="/problem" target="_self">常见错误</a>
            <a href="/serReservation" target="_self">服务预约</a>
		</li> 
		<li>
			<h3><a class="navTitle" href="/conStyle" target="_self">联系我们</a><i></i></h3>
			<a href="/conStyle" target="_self">联系方式</a>
			<a href="/conMessage" target="_self">在线留言</a>
			<a href="/conJob" target="_self">人才招聘</a>
		</li> 
	</ul>
	<span class="iconfont" id="closeBtn">&#xe62a;</span>
</div>