<div class="footer">
	<ul class="clearfix">
		<li><a href="/profertytype"><i class="iconfont">&#xe605;</i><span>产品展示</span></a></li>
		<li><a href=""><i class="iconfont">&#xe626;</i><span>电话咨询</span></a></li>
		<li><a href="http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2210603611%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%225557159%22%2C%22ttype%22%3A1%7D"><i class="iconfont">&#xe6f2;</i><span>对话客服</span></a></li>
		<li><a href="/conStyle"><i class="iconfont">&#xe67a;</i><span>联系我们</span></a></li>
	</ul>
	<p><a href="/caseList">成功案例</a>    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/serVideo">培训视频</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/serSolution">解决方案</a></p>
	<span><a href="tel://400-669-0568">400-669-0568</a></span>
	<div>Copyright ©2017 欧柯奇仪器制造 版权所有</div>
</div>