<header class="header-bar clearfix">
		<div class="logo clearfix">
            <a href="/"><img src="/imgs/logo.jpg" alt="" height="100%"/></a>
		</div>
		<div class="menu">
			<i class="iconfont" id="headIcon">&#xe72c;</i>
		</div>
</header> 