@section css{
<link rel="stylesheet" href="/css/about.css" type="text/css" />
}
<!--焦点图-->
<div class="history">
    	<div class="header clearfix">
    		<a href="/aboutUs">企业简介</a>
    		<a class="on" href="/history">发展历程</a>
    		<a href="/photo">企业实景</a>
    		<a href="/staff">员工风采</a>
    		<a class="left_fix" href="">&nbsp;</a>
    	</div>
    	<div class="history-content">
    		<div class="content-header">
    			<h1>欧柯奇发展历程</h1>
    		</div>
    		<div class="develop">
    			<p>2015年</p>
    			<span class="show1">欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<span class="hidden1">欧柯奇被评为河南省科技型企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑</span>
    			<i class="iconfont unfold1">展开 &#xe61a;</i>
    			<i class="iconfont fold1">收起 &#xe622;</i>
    			<img src="imgs/about/history.jpg" alt="" />
    		</div>
    		<div class="develop">
    			<p>2014年</p>
    			<span class="show2">欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<span class="hidden2">欧柯奇被评为河南省科技型企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑</span>
    			<i class="iconfont unfold2">展开 &#xe61a;</i>
    			<i class="iconfont fold2">收起 &#xe622;</i>
    			<img src="imgs/about/history2.jpg" alt="" />
    		</div>
    		<div class="develop">
    			<p>2013年</p>
    			<span>欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<img src="imgs/about/history4.jpg" alt="" />
    		</div>
    		<div class="develop">
    			<p>2012年</p>
    			<span>欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<img src="imgs/about/history5.jpg" alt="" />
    		</div>
    		<div class="develop">
    			<p>2011年</p>
    			<span>欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<img src="imgs/about/history6.jpg" alt="" />
    		</div>
    		<div class="develop">
    			<p>2010年</p>
    			<span>欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<img src="imgs/about/history7.jpg" alt="" />
    		</div>
    		<div class="develop">
    			<p>2009年</p>
    			<span>欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<img src="imgs/about/history9.jpg" alt="" />
    		</div>
    		<div class="develop">
    			<p>2008年</p>
    			<span>欧柯奇被评为河南省科技型企业、郑州市创新型试点企业、荣升河南专利孵化中心重点孵化企业。商标注册成功。知识产权获得郑...</span>
    			<img src="imgs/about/history10.jpg" alt="" />
    		</div>
    		<div class="share">
					<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
					<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>    		
    			</div>
		    	<a href="/cpyNewDetail?title=郑州欧柯奇与河南农业大学">延伸阅读:郑州欧柯奇与河南农业大学 </a>
    		</div>
    </div>
    <script>
        $(".history .history-content .develop .unfold1").click(function () {
            $(this).hide();
            $(".show1").hide();
            $(".hidden1").show();
            $(".fold1").show();

        })
        $(".history .history-content .develop .fold1").click(function () {
            $(this).hide();
            $(".hidden1").hide();
            $(".show1").show();
            $(".unfold1").show();

        })
        $(".history .history-content .develop .unfold2").click(function () {
            $(this).hide();
            $(".show2").hide();
            $(".hidden2").show();
            $(".fold2").show();

        })
        $(".history .history-content .develop .fold2").click(function () {
            $(this).hide();
            $(".hidden2").hide();
            $(".show2").show();
            $(".unfold2").show();

        })
    </script>