<!----左侧栏目 ---->
<div class="leftAddress">
	<h3>联系我们</h3>
	<b>全国统一服务热线</b>
	<em>400-669-0568</em>
	<ul class="addressList">
		<li><label>手机：</label>186-2552-6098<br/>155-1616-9371</li>
		<li><label>固话：</label>0371-67897883<br/>0371-67897873<br/>0371-86581650</li>
		<li><label>传真：</label>0371-65716776</li>
		<li><label>邮箱：</label>zzokq17@163.com</li>
		<li><label>QQ：</label>1203630562</li>
		<li><label>地址：</label>郑州市高新区1号总部企业基地28、29号楼</li>
	</ul>
</div>
	
