@section css{
<link rel="stylesheet" href="/css/server.css" type="text/css" />
}
<div class="promise">
    	<div class="header clearfix">
    		<a class="on" href="/serPromise">服务承诺</a>
    		<a href="/serTrain">培训服务</a>
    		<a href="/serVideo">培训视频</a>
    		<a href="/serSolution">解决方案</a>
            <a href="/problem"><li>常见问题</li></a>
    		<a href="/serReservation">服务预约</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    	</div>
    	<div class="pro-content">
    		<div class="content-header">
    			<h1>@Model.title</h1>
    		</div>
    		@Html.Raw(Model.htmlcontent)
    		
    		
    		<div class="share">
					<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
					<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>    		
    		</div>
		    <a href="/cpyNewDetail">延伸阅读:郑州欧柯奇与河南农业大学 </a>
    </div>
   
    <script>
    	
    </script>