@section css{
<link rel="stylesheet" href="/css/product.css" type="text/css" />
<link rel="stylesheet" href="/css/server.css" type="text/css" />
}
    <div class="ser-video">
    	<div class="header clearfix">
    		<a href="/serPromise">服务承诺</a>
    		<a href="/serTrain">培训服务</a>
    		<a href="/serVideo">培训视频</a>
    		<a href="/serSolution">解决方案</a>
            <a href="/problem"><li>常见问题</li></a>
    		<a class="on" href="/serReservation">服务预约</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    		<a class="left_fix" href="">&nbsp;</a>
    	</div>
    </div>
        <p>如果您想拥有农业仪器行业性价比最高的产品和最好的服务体验，请花几秒钟完成以下表格，成功提交后，欧柯奇将在第一时间为您提供专享礼遇。</p>
    	 <div id="tiantisForm"></div>
        <p>温馨提示：我们会在一到两个工作日与你联系</p>
        <script type="text/javascript" src="/js/jquery.js" ></script>
        <script src="http://form.tiantis.com/js/tiantisjs/tiantisform.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                initForm("Jv2Y3q", 'cn');
            });
        </script>
