@charset "UTF-8";
@import '_px2rem';
$designWidth : 640;
body{
  width: 16rem;
  margin: 0 auto;
}
//所有产品
.allPro{
   .search{width:px2rem(580);margin:0 auto;margin-top:px2rem(20);position:relative;margin-bottom:px2rem(40);
        .input1{width:100%;height:px2rem(58);background-color:#dbdbdb;padding-left:px2rem(20);font-size:px2rem(22);border:none;}
        .input2{width:px2rem(110);height:px2rem(58);background-color:#ff6634;font-size:px2rem(34);position: absolute;right:0;top:0;text-align: center;line-height:px2rem(58);border:none;color:white;}
   }
   .allPro-content{
       .content-title{height:px2rem(55);border-bottom:1px solid #e1e1e1;padding:0 px2rem(30);
            span{height:px2rem(42);font-size:px2rem(24);color:#0f69dc;border-bottom:2px solid #0f69dc;display: inline-block;}
       }
       .sundry{padding:px2rem(18) px2rem(30);border-bottom:1px solid #e1e1e1;margin-bottom:px2rem(40);
            .sundry-left{float:left;width:50%;
                a{display: block;font-size:px2rem(18);line-height:px2rem(46);color:#858585;}
            }
            .sundry-right{float:left;width:50%;
                a{display: block;font-size:px2rem(18);line-height:px2rem(46);color:#858585;}
            }
       }
   }
   
}
//产品列表
.proList{
   .search{width:px2rem(580);margin:0 auto;margin-top:px2rem(20);position:relative;margin-bottom:px2rem(50);
        .input1{width:100%;height:px2rem(58);background-color:#dbdbdb;padding-left:px2rem(20);font-size:px2rem(22);border:none;}
        .input2{width:px2rem(110);height:px2rem(58);background-color:#ff6634;font-size:px2rem(34);position: absolute;right:0;top:0;text-align: center;line-height:px2rem(58);border:none;color:white;}
   }
   .proList-content{padding:0 px2rem(30);
       .header{padding-bottom:px2rem(30);border-bottom:1px dashed #a3a3a3;
           h1{font-size:px2rem(30);text-align:center;color:#444444;}
       }
       .listCon{margin-bottom:px2rem(40);padding-top:px2rem(40);text-align:justify;
            li{display: inline-block;width:px2rem(270);border:1px solid #e0e0e0;margin-bottom:px2rem(30);overflow: hidden;
                img{width:px2rem(270);height:px2rem(270);border-bottom:1px solid #e0e0e0;}
                p{padding:px2rem(10) px2rem(25);font-size:px2rem(20);text-align: center;}
            }
            .left_fix { height: 0; padding: 0; overflow: hidden; border:none;}
       }
   }
   
}
//产品结果
.proResult{
   .search{width:px2rem(580);margin:0 auto;margin-top:px2rem(20);position:relative;margin-bottom:px2rem(50);
        .input1{width:100%;height:px2rem(58);background-color:#dbdbdb;padding-left:px2rem(20);font-size:px2rem(22);border:none;}
        .input2{width:px2rem(110);height:px2rem(58);background-color:#ff6634;font-size:px2rem(34);position: absolute;right:0;top:0;text-align: center;line-height:px2rem(58);border:none;color:white;}
   }
   .proResult-content{padding:0 px2rem(30);
       .header{padding-bottom:px2rem(30);border-bottom:1px dashed #a3a3a3;
           h1{font-size:px2rem(26);color:#444444;font-weight: normal;
            span:nth-child(2){color:#ff6634;}
            span:nth-child(3){color:#0f69dc;}
           }
       }
       .listCon{margin-bottom:px2rem(40);padding-top:px2rem(40);text-align:justify;
            li{display: inline-block;width:px2rem(270);border:1px solid #e0e0e0;margin-bottom:px2rem(30);overflow: hidden;
                img{width:px2rem(270);height:px2rem(270);border-bottom:1px solid #e0e0e0;}
                p{padding:px2rem(10) px2rem(25);font-size:px2rem(20);text-align: center;}
            }
            .left_fix { height: 0; padding: 0; overflow: hidden; border:none;}
       }
   }
   
}
//产品详情
.proDetail{
    .focus{ width:100%;height:9.75rem;margin:0 auto;position:relative;overflow:hidden;}
    .focus .hd{ width:100%;height:px2rem(26);position:absolute;z-index:1;bottom:px2rem(8);text-align:center;}
    .focus .hd ul{ display:inline-block;height:px2rem(26);padding:px2rem(3) px2rem(5);/* background-color:rgba(255,255,255,0.7);*/ vertical-align:top;}
    .focus .hd ul li{ background-color:#e1e1e1;display:inline-block;width:px2rem(18);height:px2rem(18);margin:0 0.1rem;vertical-align:top; overflow:hidden;border:px2rem(1) solid #fff;border-radius:px2rem(15);text-indent:-999em;}
    .focus .hd ul .on{ background:#0f69dc;}
    .focus .bd{ position:relative;z-index:0;width:px2rem(400);margin:0 auto}
    .focus .bd li img{ width:px2rem(400);height:px2rem(410);}
    .focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
    >p{font-weight:700;text-align: center;line-height:px2rem(85);font-size: px2rem(25);color:#333333;border-top:1px solid #d9d8d8;border-bottom:1px solid #d9d8d8;}
    .button{padding-top:px2rem(50);padding-bottom:px2rem(30);border-bottom: 1px solid #d9d8d8;text-align: center;
        .ask{width:px2rem(220);height:px2rem(60);background-color: #247ef2;text-align:center;line-height:px2rem(60);color:white;font-size:px2rem(24);display: inline-block;border-radius:px2rem(5);}
        .buy{width:px2rem(220);height:px2rem(60);text-align:center;line-height:px2rem(60);color:#247ef2;font-size:px2rem(24);display: inline-block;border-radius:px2rem(5);border:1px solid #247ef2;}
    }
    .parames{
        .para-content{margin-top:px2rem(40);border-bottom:1px solid #d9d8d8;
            >.title{padding:0 px2rem(30);border-bottom:1px solid #e1e1e1;height:px2rem(43);
                h2{height:px2rem(43);font-size:px2rem(23);border-bottom:2px solid #0f69dc;color:#0f69dc;width:px2rem(105)}
            }
            .explain{padding:px2rem(25) px2rem(30);
                p{font-size:px2rem(22);color:#575757;line-height: px2rem(33);}
                .title{font-weight: 700;}
            }
        }
        .about-product{margin-top:px2rem(40);border-bottom:1px solid #d9d8d8;
            >.title{padding:0 px2rem(30);border-bottom:1px solid #e1e1e1;height:px2rem(43);
                h2{height:px2rem(43);font-size:px2rem(23);border-bottom:2px solid #0f69dc;color:#0f69dc;width:px2rem(105)}
            }
            .products{text-align: justify;margin-top:px2rem(30);
                li{display: inline-block;width:px2rem(180);
                    img{width:px2rem(180);height:px2rem(180);border:1px solid #e0e0e0;}
                    p{width:100%;text-align:center;line-height:px2rem(23);font-size:px2rem(16);margin-top:px2rem(10);padding:0 px2rem(8)}
                }
                .left_fix { height: 0; padding: 0; overflow: hidden; border:none;}
            }
        }
    }
}