body { width: 16rem; margin: 0 auto; }

.zhezhao { position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); left: 0; top: 0; }

.video { left: 50%; top: 50%; height: 12.45rem; width: 12.75rem; margin-left: -6.375rem; margin-top: -6.225rem; z-index: 1000000; }

.video, .zhezhao { position: fixed; display: none; }

.hid { width: 0.5rem; height: 0.5rem; font-size: 0.675rem; line-height: 0.5rem; text-align: center; position: absolute; right: -0.675rem; top: -0.5rem; color: #fff; }

.promise .header { height: 3.75rem; width: 100%; padding: 0.5rem 0.75rem; border-bottom: 1px solid #d9d8d8; text-align: justify; }
.promise .header a { display: inline-block; width: 3.2rem; height: 1.1rem; text-align: center; line-height: 1.1rem; font-size: 0.55rem; border: 1px solid #a3a3a3; border-radius: 0.125rem; }
.promise .header .left_fix { border: none; height: 0; padding: 0; overflow: hidden; }
.promise .on { color: white; background-color: #247ef2; }
.promise .pro-content { display: block; padding: 0 0.75rem; }
.promise .pro-content .content-header { margin-bottom: 1rem; border-bottom: 1px dashed #a3a3a3; }
.promise .pro-content .content-header h1 { font-size: 0.75rem; text-align: center; margin: 0 0.75rem; margin-top: 1rem; height: 1.75rem; }
.promise .pro-content .content-header p { font-size: 0.45rem; color: #a9a9a9; text-align: center; margin-bottom: 0.75rem; }
.promise .pro-content .matter { margin-bottom: 1rem; }
.promise .pro-content .matter .title { font-size: 0.45rem; font-weight: 700; line-height: 0.825rem; }
.promise .pro-content .matter p { font-size: 0.45rem; line-height: 0.825rem; }
.promise .share { margin: 0 0.75rem; border-bottom: 1px solid #d0d0d0; padding-bottom: 0.5rem; }
.promise > a { font-size: 0.5rem; margin: 0 0.75rem; }

.train .header { height: 3.75rem; width: 100%; padding: 0.5rem 0.75rem; border-bottom: 1px solid #d9d8d8; text-align: justify; }
.train .header li { display: inline-block; width: 3.2rem; height: 1.1rem; text-align: center; line-height: 1.1rem; font-size: 0.55rem; border: 1px solid #a3a3a3; border-radius: 0.125rem; }
.train .header .left_fix { border: none; height: 0; padding: 0; overflow: hidden; }
.train ul { width: 100%; padding: 0.25rem 0.75rem; display: block; }
.train ul li { margin-top: 1rem; }
.train ul li .left { float: left; width: 11.1rem; }
.train ul li .left .con-up { color: #333333; font-size: 0.5rem; line-height: 1.5rem; width:444px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.train ul li .left .con-down { color: #999999; font-size: 0.5rem; }
.train ul li img { float: right; width: 2.65rem; height: 2rem; }
.train .content01 { display: block; }
.train .content01 .content01-header { border-bottom: 1px dashed #a3a3a3; margin-bottom: 0.5rem; }
.train .content01 .content01-header h1 { font-size: 0.75rem; text-align: center; margin-top: 1rem; margin-bottom: 0.5rem; }
.train .content01 .content01-header p { font-size: 0.45rem; color: #a9a9a9; text-align: center; margin-bottom: 0.75rem; }
.train .content01 p { line-height: 0.75rem; font-size: 0.55rem; margin-bottom: 1rem; }
.train .content01 img { width: 11.5rem; height: 7.675rem; margin: 0.75rem 1.3rem; }
.train .content01 a { font-size: 0.5rem; }
.train .on { color: white; background-color: #247ef2; }
.train .content04 li { margin-top: 1rem; }
.train .content04 li img { float: left; margin-right: 0.75rem; width: 6.85rem; height: 4.8rem; }
.train .content04 li .right { float: left; width: 6.55rem; }
.train .content04 li .right h2 { font-size: 0.5rem; margin-bottom: 0.6rem; }
.train .content04 li .right p { line-height: 0.75rem; font-size: 0.45rem; color: #9b9b9b; }
.train .content04 li .right a { color: #0f69dc; border-bottom: 1px solid #0f69dc; font-size: 0.5rem; }
.train .content04 li .right a i { color: #0f69dc; }
.train .share { margin: 0 0.75rem; border-bottom: 1px solid #d0d0d0; padding-bottom: 0.5rem; }

.ser-video .header { height: 3.75rem; width: 100%; padding: 0.5rem 0.75rem; border-bottom: 1px solid #d9d8d8; text-align: justify; }
.ser-video .header a { display: inline-block; width: 3.2rem; height: 1.1rem; text-align: center; line-height: 1.1rem; font-size: 0.55rem; border: 1px solid #a3a3a3; border-radius: 0.125rem; }
.ser-video .header .left_fix { border: none; height: 0; padding: 0; overflow: hidden; }
.ser-video .on { color: white; background-color: #247ef2; }
.ser-video .video-content { display: block; padding: 0 0.75rem; margin-top: 1.25rem; }
.ser-video .video-content .content-header { margin-bottom: 1rem; border-bottom: 1px dashed #a3a3a3; }
.ser-video .video-content .content-header h1 { font-size: 0.75rem; text-align: center; margin: 0 0.75rem; margin-top: 1rem; height: 1.75rem; }
.ser-video .video-content .content-header p { font-size: 0.45rem; color: #a9a9a9; text-align: center; margin-bottom: 0.75rem; }
.ser-video .video-content .ph-live { text-align: justify; }
.ser-video .video-content .ph-live li { display: inline-block; width: 6.875rem; border: 1px solid #e0e0e0; margin-bottom: 0.75rem; }
.ser-video .video-content .ph-live li img { width: 6.875rem; height: 4.6rem; }
.ser-video .video-content .ph-live li p { line-height: 0.875rem; font-size: 0.45rem; color: #5d5d5d; text-align: center; padding: 0 0.625rem; }
.ser-video .video-content .ph-live .left_fix { border: none; height: 0; padding: 0; overflow: hidden; }
.ser-video .video-content .share { margin: 0 0.75rem; border-bottom: 1px solid #d0d0d0; padding-bottom: 0.5rem; }
.ser-video .video-content > a { font-size: 0.5rem; margin: 0 0.75rem; }

.solution .header { height: 3.75rem; width: 100%; padding: 0.5rem 0.75rem; border-bottom: 1px solid #d9d8d8; text-align: justify; }
.solution .header a { display: inline-block; width: 3.2rem; height: 1.1rem; text-align: center; line-height: 1.1rem; font-size: 0.55rem; border: 1px solid #a3a3a3; border-radius: 0.125rem; }
.solution .header .left_fix { border: none; height: 0; padding: 0; overflow: hidden; }
.solution .on { color: white; background-color: #247ef2; }
.solution .solution-content { margin-top: 1.25rem; }
.solution .solution-content .title { padding: 0 0.75rem; border-bottom: 1px solid #e1e1e1; height: 1.05rem; margin-bottom: 0.75rem; }
.solution .solution-content .title p { float: left; height: 1.05rem; width: auto; color: #0f69dc; font-size: 0.625rem; border-bottom: 2px solid #0f69dc; }
.solution .solution-content .title a { float: right; line-height: 1.05rem; color: #999999; font-size: 0.55rem; }
.solution .solution-content .so-con { padding: 0 0.75rem; margin-bottom: 1rem; border-bottom: 1px solid #e1e1e1; }
.solution .solution-content .so-con li { margin-bottom: 0.875rem; }
.solution .solution-content .so-con li .left { float: left; }
.solution .solution-content .so-con li .left p { line-height: 0.5rem; font-size: 0.45rem; color: #333333; margin-top: 0.5rem; font-weight: 700; }
.solution .solution-content .so-con li .left span { line-height: 0.9rem; font-size: 0.4rem; color: #999999; }
.solution .solution-content .so-con li img { width: 2.65rem; height: 2rem; float: right; margin-top: 0.25rem; }

.order .header { height: 3.75rem; width: 100%; padding: 0.5rem 0.75rem; border-bottom: 1px solid #d9d8d8; text-align: justify; }
.order .header a { display: inline-block; width: 3.2rem; height: 1.1rem; text-align: center; line-height: 1.1rem; font-size: 0.55rem; border: 1px solid #a3a3a3; border-radius: 0.125rem; }
.order .header .left_fix { border: none; height: 0; padding: 0; overflow: hidden; }
.order .on { color: white; background-color: #247ef2; }
.order > p { margin: 1.25rem 0.75rem 1.5rem; font-size: 0.5rem; line-height: 0.75rem; color: #747474; }
.order .name p { font-size: 0.5rem; color: #747474; }
.order .name input { width: 100%; height: 1.5rem; border: 1px solid #cdcdcd; color: #cdcdcd; }

/*# sourceMappingURL=server.css.map */
.companyNews .header { height: 3.2rem; width: 100%; padding: 0.5rem 0.75rem; border-bottom: 1px solid #d9d8d8; text-align: justify; }
.companyNews .header li { display: inline-block; width: 3.2rem; height: 1.1rem; text-align: center; line-height: 1.1rem; font-size: 0.55rem; border: 1px solid #a3a3a3; border-radius: 0.125rem; }
.companyNews .header .left_fix { border: none; height: 0; padding: 0; overflow: hidden; }
.companyNews ul { width: 100%; padding: 0.25rem 0.75rem; display: block; }
.companyNews ul li { margin-top: 1rem; }
.companyNews ul li .left { float: left; width: 11.1rem; }
.companyNews ul li .left .con-up { color: #333333; font-size: 0.5rem; line-height: 1.5rem;width:11rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.companyNews ul li .left .con-down { color: #999999; font-size: 0.5rem; }
.companyNews ul li img { float: right; width: 2.65rem; height: 2rem; }
.companyNews .content01 { display: block; }
.companyNews .content01 .content01-header { border-bottom: 1px dashed #a3a3a3; margin-bottom: 0.5rem; }
.companyNews .content01 .content01-header h1 { font-size: 0.75rem; text-align: center; margin-top: 1rem; margin-bottom: 0.5rem; }
.companyNews .content01 .content01-header p { font-size: 0.45rem; color: #a9a9a9; text-align: center; margin-bottom: 0.75rem; }
.companyNews .content01 p { line-height: 0.75rem; font-size: 0.55rem; margin-bottom: 1rem; }
.companyNews .content01 img { width: 11.5rem; height: 7.675rem; margin: 0.75rem 1.3rem; }
.companyNews .content01 a { font-size: 0.5rem; }
.companyNews .on { color: white; background-color: #247ef2; }
.companyNews .content04 li { margin-top: 1rem; }
.companyNews .content04 li img { float: left; margin-right: 0.75rem; width: 6.85rem; height: 4.8rem; }
.companyNews .content04 li .right { float: left; width: 6.55rem; }
.companyNews .content04 li .right h2 { font-size: 0.5rem; margin-bottom: 0.6rem; }
.companyNews .content04 li .right p { line-height: 0.75rem; font-size: 0.45rem; color: #9b9b9b; }
.companyNews .content04 li .right a { color: #0f69dc; border-bottom: 1px solid #0f69dc; font-size: 0.5rem; }
.companyNews .content04 li .right a i { color: #0f69dc; }
.companyNews .share { border-bottom: 1px solid #d0d0d0; padding-bottom: 0.5rem; }
