<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="SSINC-html" />
            <add name="SSINC-html" path="*.html" verb="*" modules="RequestFilteringModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
