@charset "UTF-8";
* { word-break: break-word; }

body, dd, dl, h1, h2, h3, h4, h5, h6, ol, p, ul { margin: 0; }

b, em { font-style: normal; font-weight: normal; }

ol, ul { padding: 0; }

li, ul { list-style: none; }

body { font-family: "\9ED1\4F53","\5FAE\8F6F\96C5\9ED1",Arial; color: #333; margin: 0 auto; }

img { border: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; touch-callout: none; }

table { border-spacing: 0; border-collapse: collapse; }

html { font-family: sans-serif; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

:focus { outline: 0; }

:link, :visited { text-decoration: none; }

a { outline: none; text-decoration: none; cursor: pointer; color: #333; }

a:active, a:hover { outline: 0; }

a:hover { text-decoration: none; outline: none; }

.clearfix:after { display: block; clear: both; height: 0; font-size: 0; content: ''; }

* { box-sizing: border-box; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button { overflow: visible; }

button, select { text-transform: none; }

input { line-height: normal; }

input::-webkit-input-placeholder { color: #999 !important; font-family: "\9ED1\4F53"; }

/*-- 宸︿晶瀵艰埅  --*/
.navMain { background-color: #2e2e2e; overflow: hidden; width: 100%; position: fixed; right: -18.75rem; top: 0rem; z-index: 9999; -webkit-overflow-scrolling: touch; overflow-y: auto; }
.navMain span { position: absolute; right: 0.5rem; top: 0.5rem; color: #fff; font-size: 1.125rem; }

.leftNav { height: 100%; overflow: hidden; width: 100%; padding: 1.75rem 0.5rem 0; float: right; }
.leftNav li { height: 2rem; overflow: hidden; }
.leftNav li h3 { font-size: 0.65rem; line-height: 2rem; height: 2rem; overflow: hidden; border-bottom: 1px solid #E4E4E4; margin-bottom: 0.4rem; }
.leftNav li h3 > a { display: inline-block; width: 3.75rem; color: #fff; line-height: 2rem; }
.leftNav li h3 i { width: 1rem; height: 1rem; float: right; display: block; background: url(../imgs/add.jpg) no-repeat scroll center center; margin-top: 0.4rem; }
.leftNav li.cur { height: auto; }
.leftNav li.cur i { background: url(../imgs/redu.jpg) no-repeat scroll center center; }
.leftNav li > a { display: block; font-size: 0.6rem; line-height: 1.5rem; color: #fff; position: relative; padding-left: 1rem; }

.footer ul { width: 100%; height: 2rem; background-color: #4d85d1; padding: 0 0.75rem; box-sizing: border-box; }
.footer ul li:first-child { border: none; }
.footer ul li { float: left; text-align: center; width: 3.575rem; height: 1.5rem; border-left: 1px solid #b8ceed; margin-top: 0.15rem; box-sizing: border-box; }
.footer ul li a { display: block; box-sizing: border-box; }
.footer ul li a span { font-size: 0.45rem; color: white; display: block; margin-bottom: 0.15rem; }
.footer ul li a i { font-size: 0.75rem; color: white; width: 3.575rem; display: inline-block; height: 0.75rem; }
.footer p { width: 100%; text-align: center; line-height: 2.25rem; }
.footer p a { font-size: 0.5rem; }
.footer span { display: block; width: 100%; text-align: center; font-size: 0.5rem; color: #286bce; }
.footer div { width: 100%; text-align: center; line-height: 1.5rem; font-size: 0.5rem; color: #999999; }

.left_fix { height: 0; padding: 0; overflow: hidden; }

@font-face { font-family: 'iconfont';
  /* project id 305334 */
src: url("//at.alicdn.com/t/font_0lj6modzc6561or.eot"); src: url("//at.alicdn.com/t/font_0lj6modzc6561or.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_0lj6modzc6561or.woff") format("woff"), url("//at.alicdn.com/t/font_0lj6modzc6561or.ttf") format("truetype"), url("//at.alicdn.com/t/font_0lj6modzc6561or.svg#iconfont") format("svg"); }
.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=common.css.map */
